In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Datasets/CarPrice.csv")

In [3]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
categorical_cols = df.select_dtypes(include=['object'])

In [7]:
categorical_cols

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi 100 ls,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi 100ls,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...
200,volvo 145e (sw),gas,std,four,sedan,rwd,front,ohc,four,mpfi
201,volvo 144ea,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
202,volvo 244dl,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
203,volvo 246,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
204,volvo 264gl,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [8]:
le = LabelEncoder()
for cols in categorical_cols:
    df[cols] = le.fit_transform(df[cols])

In [9]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,2,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,3,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,1,1,0,1,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,4,1,0,0,3,1,0,99.8,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,5,1,0,0,3,0,0,99.4,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,139,1,0,0,3,2,0,109.1,...,141,5,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,138,1,1,0,3,2,0,109.1,...,141,5,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,140,1,0,0,3,2,0,109.1,...,173,5,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,142,0,1,0,3,2,0,109.1,...,145,3,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,143,1,1,0,3,2,0,109.1,...,141,5,3.78,3.15,9.5,114,5400,19,25,22625.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    int32
 3   fueltype          205 non-null    int32
 4   aspiration        205 non-null    int32
 5   doornumber        205 non-null    int32
 6   carbody           205 non-null    int32
 7   drivewheel        205 non-null    int32
 8   enginelocation    205 non-null    int32
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    int32
 15  cylindernumber    205 non-null    int32
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    int32
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int32(10), int64(8)
memory usage: 33.8 KB

In [11]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [13]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [14]:
y_train

array([41315.   , 17859.167, 18620.   ,  5151.   , 16500.   , 17710.   ,
        7999.   ,  6189.   , 22625.   , 15510.   , 11595.   ,  5118.   ,
        8921.   , 11850.   ,  8058.   , 16925.   , 16515.   ,  9989.   ,
        6695.   , 13845.   , 28176.   ,  8916.5  ,  7609.   ,  6479.   ,
       10345.   ,  7995.   , 31400.5  ,  6855.   , 14399.   , 30760.   ,
       12170.   ,  5499.   , 10245.   , 21105.   ,  8916.5  ,  5572.   ,
       16558.   ,  7738.   ,  6295.   ,  5348.   , 18950.   , 35056.   ,
        8949.   , 13415.   ,  6575.   ,  7603.   ,  7126.   , 19699.   ,
        9995.   ,  7689.   , 36880.   ,  7898.   ,  5389.   , 18920.   ,
       16630.   ,  8921.   ,  7975.   ,  7129.   , 40960.   , 18420.   ,
       35550.   ,  9095.   , 15750.   , 19045.   ,  7898.   , 10198.   ,
       13950.   , 18150.   , 24565.   , 23875.   , 12945.   , 16500.   ,
        7609.   ,  6692.   ,  9988.   , 34028.   , 10295.   ,  8238.   ,
        7295.   ,  9279.   , 20970.   ,  7895.   ,  7299.   ,  8013.   ,
        8249.   , 12290.   , 11845.   , 15690.   ,  8358.   , 16845.   ,
        8778.   ,  7499.   ,  6795.   ,  8948.   ,  9959.   , 17669.   ,
        7198.   , 11259.   , 13645.   , 12764.   , 17075.   , 11245.   ,
        6649.   ,  6338.   , 18344.   , 13495.   , 13499.   ,  8449.   ,
        9279.   , 28248.   , 22470.   , 13860.   , 13499.   , 11900.   ,
       15645.   , 32528.   ,  7463.   , 22018.   ,  9495.   , 17450.   ,
       15040.   , 14489.   ,  8499.   ,  6785.   , 11248.   ,  7775.   ,
       12440.   ,  6669.   , 18150.   ,  6918.   , 10595.   , 16503.   ,
        9639.   ,  5399.   ,  8495.   , 45400.   ,  9295.   , 10795.   ,
       16900.   ,  6938.   ,  5572.   ,  7099.   ,  8558.   ,  7395.   ,
       16430.   ,  6488.   , 25552.   ,  7053.   ,  9258.   ,  8495.   ,
       16695.   , 11549.   , 10945.   , 17199.   , 36000.   ,  9960.   ,
        6849.   , 11199.   , 12629.   ,  8845.   ,  6229.   , 32250.   ,
       31600.   , 37028.   ])

In [15]:
dt = DecisionTreeRegressor(max_depth=7)
dt.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=7)

In [16]:
y_pred_train = dt.predict(x_train)
y_pred_test = dt.predict(x_test)

In [17]:
r2_score(y_train, y_pred_train)

0.9903410163706147

In [18]:
r2_score(y_test, y_pred_test)

0.8298090949404789

In [19]:
rfc = RandomForestRegressor(n_estimators = 1000, max_depth = 10, min_samples_split=4, min_samples_leaf=3)
rfc.fit(x_train, y_train)

RandomForestRegressor(max_depth=10, min_samples_leaf=3, min_samples_split=4,
                      n_estimators=1000)

In [20]:
rfc_train_pred = rfc.predict(x_train)
rfc_test_pred = rfc.predict(x_test)

In [21]:
r2_score(y_train,rfc_train_pred)

0.9729659892408784

In [22]:
r2_score(y_test, rfc_test_pred)

0.9253808568414625